div.container
    div.nav.clearfix
        section
            h4= "소개"
            ul
                li
                    a(href="/")= "에어비앤비 이용 방법"
                li
                    a(href="/")= "뉴스룸"
                li
                    a(href="/")= "에어비앤비 플러스"
                li
                    a(href="/")= "에어비앤비 Luxe"
                li
                    a(href="/")= "호텔투나잇"
                li
                    a(href="/")= "에어비앤비 비즈니스 프로그램"
                li
                    a(href="/")= "채용정보"
        section
            h4= "커뮤니티"
            ul
                li
                    a(href="/")= "다양성 및 소속감"
                li
                    a(href="/")= "뉴스룸"
                li
                    a(href="/")= "접근성"
                li
                    a(href="/")= "에어비앤비 어소시에이트"
                li
                    a(href="/")= "구호 인력을 위한 숙소"
                li
                    a(href="/")= "친구 초대하기"
        section
            h4= "호스팅하기"
            ul
                li
                    a(href="/")= "숙소 호스팅"
                li
                    a(href="/")= "온라인 체험 호스팅하기"
                li
                    a(href="/")= "체험 호스팅하기"
                li
                    a(href="/")= "브라이언 체스키 CEO의 메시지"
                li
                    a(href="/")= "책임감 있는 호스팅"
                li
                    a(href="/")= "Open Homes"
                li
                    a(href="/")= "자료 센터"
                li
                    a(href="/")= "커뮤니티 센터"
        section
            h4= "에어비앤비 지원"
            ul
                li
                    a(href="/")= "코로나19 관련 업데이트"
                li
                    a(href="/")= "도움말 센터"
                li
                    a(href="/")= "예약 취소 옵션"
                li
                    a(href="/")= "에어비앤비 이웃 민원 지원"
                li
                    a(href="/")= "신뢰와 안전"
    div.foot
        section
            div= "© 2020 Airbnb, Inc. All rights reserved"
            div
                span= "개인정보 처리방침"
                span= "이용약관"
                span= "사이트맵"
                span= "한국의 변경된 환불 정책"

