div.container
    div#search_rooms
        form(action="/search/rooms", method="get")
            ul
                li
                    div= "위치"
                    input(type="text", name="location" placeholder="위치")
                li
                    div= "체크인"
                    input(type="date", name="checkin")
                li
                    div= "체크아웃"
                    input(type="date", name="checkout")
                li
                    div= "인원"
                    input(type="number", name="guests", value=1)
                li
                    button(type="submit")= "검색"
    
    div#search_experiences
        form(action="/search/experiences", method="get")
            ul
                li
                    div= "위치"
                    input(type="text", name="location" placeholder="위치")
                li
                    div= "날짜"
                    input(type="date", name="day")
                li
                    button(type="submit")= "검색"