div.container
    div#search_rooms
        ul
            li
                span= "위치"
            li
                span= "체크인"
            li
                span= "체크아웃"
            li
                span= "인원"
            li
                button(type="button")= "검색"
    
    div#search_experiences
        ul
            li
                span= "위치"
            li
                span= "날짜"
            li
                button(type="button")= "검색"