doctype
html(lang='ko')
    head
        meta(charset='utf-8')
        style(src="/css/style.css")
        title= "숙소, 체험, 장소를 모두 한 곳에서 - 에어비앤비"
    body
        header= "헤더"
        nav= "네비"
        main= "메인"
            section= "섹션"
            article= "아티클"
        footer= "푸터"