extends ../layout/layout.pug

block main
    div.container
        div(style="width: 40%; margin: 0 auto;")
            h2= "패스워드 변경"
            form(action="/user/update/password", method="post")
                //- input#id(type="text", name="id", placeholder="아이디")
                ul
                    li
                        h4="기존 패스워드"
                        input#pwd(type="password", name="past_pwd", placeholder="기존 패스워드")
                    li
                        h4="새 패스워드"
                        input#pwd(type="password", name="new_pwd", placeholder="새 패스워드")
                    li
                        h4="새 패스워드 확인"
                        input#pwdCheck(type="password", name="new_pwdCheck", placeholder="새 패스워드 확인")
                    li
                        button(type="submit")= "수정"
                    li
                    li