extends ../layout/layout.pug

block main
    div.container
        div
            div
                span
                    b= " 체크인: "
                span= checkin
                span
                    b= " 체크아웃: "
                span= checkout
            div
                span
                    b=count
                span=" 개의 숙소 "
                span=" · "
                span=" 게스트 "
                span
                    b=guests
                span=" 명 이상 "
                
            div
                ul
                -for(let i=0; i<count; i++)
                    li
                        div
                            div(style="width:300px; height:250px; text-align:center; overflow:hidden; display:inline-block;border-radius:20px;")
                                img(src=list[i]['image'], alt=h4=list[i]['title'], style="height:300px;")
                            div(style="width:40%; display:inline-block; transform:translate(0, -55%);")
                                div=list[i]['place']
                                h4=list[i]['title']
                                div=list[i]['description1']
                                div=list[i]['description2']
                                div=list[i]['price']
        
